body {
  background: linear-gradient(to right, #43cea2, #185a9d);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    sans-serif;
  margin: 20px;
  color: #333;
}

h1 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

p {
  text-align: center;
  line-height: 1.5;
  color: #000000;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 400px;
  background: linear-gradient(to right, #43cea2, #185a9d);
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.gender-selection,
.input-fields {
  margin-bottom: 15px;
}

label {
  margin-bottom: 5px;
  display: block;
  font-weight: bold;
}

input,
select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #0069d9;
}

#hasil {
  margin-top: 20px;
  padding: 15px;
}
